<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit the listing</h1>
    <form method="post" action="/listings/<%= listing._id %>?_method=PUT">
        <input type="text" name="title" value="<%= listing.title %>">
        <input type="text" name="description" value="<%= listing.description %>">
        <input type="number" name="price" value="<%= listing.price %>">
        <input type="text" name="location" value="<%= listing.location %>">
        <input type="text" name="country" value="<%= listing.country %>">
        <button>Edit the listing</button>
    </form>
    
</body>
</html>