<% layout("/layouts/boilerplate.ejs") %>
<body>
 
  <div class="row col-4-lg">
    <% for( let list of allListings ) { %>

    <a href="/listings/<%= list._id %>" class="card-link">
      <div class="card listing-card">
        <img
          src="<%= list.image.url %>"
          class="card-img-top"
          alt="<%= list.title %>"
        />

        <div class="card-img-overlay">
          <button class="fa-heart-btn">
            <i class="fa-regular fa-heart heart-outline"></i>
            <i class="fa-solid fa-heart heart-solid"></i>
          </button>
        </div>
        <div class="card-body">
          <p class="card-text">
            <b> <%= list.title %> <br /></b>
           <%= list.price.toLocaleString("en-IN") %>
            
          </p>
        </div>
      </div>
    </a>
    <% } %>
  </div>
</body>
